# --- .NET CORE / VS IGNORE ---
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# --- NUGET ---
project.assets.json
*.nuget.g.props
*.nuget.g.targets

# --- OS & OTHERS ---
.DS_Store
Thumbs.db
.env
.env.*
BlogProject/src/Data/appsettings.json
